table.table {
    zoom: 0.8;
    margin-left: -120px;
    background-color: lightgray;
}

.table>thead>tr>th, .table>tbody>tr>td {
    border: 4px solid rgb(85, 85, 85);
    vertical-align: middle;
    text-align: center;
    padding: 5px 20px 5px 20px;
    color: rgb(85, 85, 85);
}